<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% let j = 1 %>
  <% for(let i =0;i<postcom.length;i++) {%>
    <%if (name == postcom[i].name) {%>
       <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">This is Post <%= [j] %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Comment By <%=postcom[i].name %></h6>
    <p class="card-text">Comment content : <br><textarea name="comment"> <%=postcom[i].comment %></textarea></p><p></p> <br> CommentId :  <%=postcom[i].commentid %></p>
    <a  class="card-link"><form action="/edit/<%=postcom[i].commentid%>" method="get"><button >Edit</button></form></a>
    <a class="card-link"><form action="/delete/<%=postcom[i].commentid%>?_method=DELETE" method="post"><button type="submit">delete</button></form></a>
  </div>
</div>
      
      <br>
      <% j++; %>
   <% } %>
  
   <% } %>
     
 
  
</body>
</html>